.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .pagination a {
    margin: 10px 5px;
    padding: 15px 25px;
    border: 1px solid #6584d4;
    border-radius: 20px;
    color: rgb(238, 43, 212);
    text-decoration: wavy;
  }
  
  .pagination a:hover {
    background-color: #e7a9ef;
  }
  
  
